body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:696px;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:696px;
  display:flex;
}
#u625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:607px;
  width:67px;
  height:67px;
  display:flex;
}
#u626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:607px;
  width:67px;
  height:67px;
  display:flex;
}
#u627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:607px;
  width:67px;
  height:67px;
  display:flex;
}
#u628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u629 label {
  left:0px;
  width:100%;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:126px;
  width:33px;
  height:15px;
  display:flex;
}
#u629 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u629_img.selected {
}
#u629.selected {
}
#u629_img.disabled {
}
#u629.disabled {
}
#u629_img.selectedDisabled {
}
#u629.selectedDisabled {
}
#u629_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u629_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u630 label {
  left:0px;
  width:100%;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:146px;
  width:33px;
  height:15px;
  display:flex;
}
#u630 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u630_img.selected {
}
#u630.selected {
}
#u630_img.disabled {
}
#u630.disabled {
}
#u630_img.selectedDisabled {
}
#u630.selectedDisabled {
}
#u630_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u630_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u631 label {
  left:0px;
  width:100%;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:167px;
  width:33px;
  height:15px;
  display:flex;
}
#u631 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u631_img.selected {
}
#u631.selected {
}
#u631_img.disabled {
}
#u631.disabled {
}
#u631_img.selectedDisabled {
}
#u631.selectedDisabled {
}
#u631_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u631_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u632 label {
  left:0px;
  width:100%;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:187px;
  width:33px;
  height:15px;
  display:flex;
}
#u632 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u632_img.selected {
}
#u632.selected {
}
#u632_img.disabled {
}
#u632.disabled {
}
#u632_img.selectedDisabled {
}
#u632.selectedDisabled {
}
#u632_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u632_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u633_input {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u633_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u633_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:168px;
  width:531px;
  height:25px;
  display:flex;
}
#u633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u633_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u633.disabled {
}
#u634 label {
  left:0px;
  width:100%;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:252px;
  width:33px;
  height:15px;
  display:flex;
}
#u634 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u634_img.selected {
}
#u634.selected {
}
#u634_img.disabled {
}
#u634.disabled {
}
#u634_img.selectedDisabled {
}
#u634.selectedDisabled {
}
#u634_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u634_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u635 label {
  left:0px;
  width:100%;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:272px;
  width:33px;
  height:15px;
  display:flex;
}
#u635 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u635_img.selected {
}
#u635.selected {
}
#u635_img.disabled {
}
#u635.disabled {
}
#u635_img.selectedDisabled {
}
#u635.selectedDisabled {
}
#u635_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u635_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u636 label {
  left:0px;
  width:100%;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:293px;
  width:33px;
  height:15px;
  display:flex;
}
#u636 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u636_img.selected {
}
#u636.selected {
}
#u636_img.disabled {
}
#u636.disabled {
}
#u636_img.selectedDisabled {
}
#u636.selectedDisabled {
}
#u636_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u636_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u637 label {
  left:0px;
  width:100%;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:313px;
  width:33px;
  height:15px;
  display:flex;
}
#u637 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u637_img.selected {
}
#u637.selected {
}
#u637_img.disabled {
}
#u637.disabled {
}
#u637_img.selectedDisabled {
}
#u637.selectedDisabled {
}
#u637_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u637_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u638 label {
  left:0px;
  width:100%;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:388px;
  width:33px;
  height:15px;
  display:flex;
}
#u638 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u638_img.selected {
}
#u638.selected {
}
#u638_img.disabled {
}
#u638.disabled {
}
#u638_img.selectedDisabled {
}
#u638.selectedDisabled {
}
#u638_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u638_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u639 label {
  left:0px;
  width:100%;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:408px;
  width:33px;
  height:15px;
  display:flex;
}
#u639 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u639_img.selected {
}
#u639.selected {
}
#u639_img.disabled {
}
#u639.disabled {
}
#u639_img.selectedDisabled {
}
#u639.selectedDisabled {
}
#u639_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u639_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u640 label {
  left:0px;
  width:100%;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:429px;
  width:33px;
  height:15px;
  display:flex;
}
#u640 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u640_img.selected {
}
#u640.selected {
}
#u640_img.disabled {
}
#u640.disabled {
}
#u640_img.selectedDisabled {
}
#u640.selectedDisabled {
}
#u640_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u640_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u641 label {
  left:0px;
  width:100%;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:449px;
  width:33px;
  height:15px;
  display:flex;
}
#u641 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u641_img.selected {
}
#u641.selected {
}
#u641_img.disabled {
}
#u641.disabled {
}
#u641_img.selectedDisabled {
}
#u641.selectedDisabled {
}
#u641_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u641_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u642 label {
  left:0px;
  width:100%;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:505px;
  width:33px;
  height:15px;
  display:flex;
}
#u642 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u642_img.selected {
}
#u642.selected {
}
#u642_img.disabled {
}
#u642.disabled {
}
#u642_img.selectedDisabled {
}
#u642.selectedDisabled {
}
#u642_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u642_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u643 label {
  left:0px;
  width:100%;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:525px;
  width:33px;
  height:15px;
  display:flex;
}
#u643 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u643_img.selected {
}
#u643.selected {
}
#u643_img.disabled {
}
#u643.disabled {
}
#u643_img.selectedDisabled {
}
#u643.selectedDisabled {
}
#u643_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u643_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u644 label {
  left:0px;
  width:100%;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:546px;
  width:33px;
  height:15px;
  display:flex;
}
#u644 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u644_img.selected {
}
#u644.selected {
}
#u644_img.disabled {
}
#u644.disabled {
}
#u644_img.selectedDisabled {
}
#u644.selectedDisabled {
}
#u644_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u644_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u645 label {
  left:0px;
  width:100%;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:566px;
  width:33px;
  height:15px;
  display:flex;
}
#u645 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u645_img.selected {
}
#u645.selected {
}
#u645_img.disabled {
}
#u645.disabled {
}
#u645_img.selectedDisabled {
}
#u645.selectedDisabled {
}
#u645_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u645_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u646_input {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u646_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:328px;
  width:531px;
  height:25px;
  display:flex;
}
#u646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u646_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u646.disabled {
}
#u647_input {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u647_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u647_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:471px;
  width:531px;
  height:25px;
  display:flex;
}
#u647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u647_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u647.disabled {
}
#u648_input {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u648_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:607px;
  width:531px;
  height:25px;
  display:flex;
}
#u648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u648_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648.disabled {
}
