body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:696px;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:696px;
  display:flex;
}
#u697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:607px;
  width:67px;
  height:67px;
  display:flex;
}
#u698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:607px;
  width:67px;
  height:67px;
  display:flex;
}
#u699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:607px;
  width:67px;
  height:67px;
  display:flex;
}
#u700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u701 label {
  left:0px;
  width:100%;
}
#u701_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:105px;
  width:33px;
  height:15px;
  display:flex;
}
#u701 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u701_img.selected {
}
#u701.selected {
}
#u701_img.disabled {
}
#u701.disabled {
}
#u701_img.selectedDisabled {
}
#u701.selectedDisabled {
}
#u701_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u701_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u702 label {
  left:0px;
  width:100%;
}
#u702_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:125px;
  width:33px;
  height:15px;
  display:flex;
}
#u702 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u702_img.selected {
}
#u702.selected {
}
#u702_img.disabled {
}
#u702.disabled {
}
#u702_img.selectedDisabled {
}
#u702.selectedDisabled {
}
#u702_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u702_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u703 label {
  left:0px;
  width:100%;
}
#u703_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:146px;
  width:33px;
  height:15px;
  display:flex;
}
#u703 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u703_img.selected {
}
#u703.selected {
}
#u703_img.disabled {
}
#u703.disabled {
}
#u703_img.selectedDisabled {
}
#u703.selectedDisabled {
}
#u703_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u703_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u704 label {
  left:0px;
  width:100%;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:166px;
  width:33px;
  height:15px;
  display:flex;
}
#u704 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u704_img.selected {
}
#u704.selected {
}
#u704_img.disabled {
}
#u704.disabled {
}
#u704_img.selectedDisabled {
}
#u704.selectedDisabled {
}
#u704_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u704_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u705_input {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u705_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:168px;
  width:424px;
  height:25px;
  display:flex;
}
#u705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u705_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u705.disabled {
}
#u706 label {
  left:0px;
  width:100%;
}
#u706_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:206px;
  width:33px;
  height:15px;
  display:flex;
}
#u706 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u706_img.selected {
}
#u706.selected {
}
#u706_img.disabled {
}
#u706.disabled {
}
#u706_img.selectedDisabled {
}
#u706.selectedDisabled {
}
#u706_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u706_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u707 label {
  left:0px;
  width:100%;
}
#u707_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:226px;
  width:33px;
  height:15px;
  display:flex;
}
#u707 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u707_img.selected {
}
#u707.selected {
}
#u707_img.disabled {
}
#u707.disabled {
}
#u707_img.selectedDisabled {
}
#u707.selectedDisabled {
}
#u707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u707_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u708 label {
  left:0px;
  width:100%;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:247px;
  width:33px;
  height:15px;
  display:flex;
}
#u708 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u708_img.selected {
}
#u708.selected {
}
#u708_img.disabled {
}
#u708.disabled {
}
#u708_img.selectedDisabled {
}
#u708.selectedDisabled {
}
#u708_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u708_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u709 label {
  left:0px;
  width:100%;
}
#u709_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:267px;
  width:33px;
  height:15px;
  display:flex;
}
#u709 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u709_img.selected {
}
#u709.selected {
}
#u709_img.disabled {
}
#u709.disabled {
}
#u709_img.selectedDisabled {
}
#u709.selectedDisabled {
}
#u709_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u709_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u710 label {
  left:0px;
  width:100%;
}
#u710_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:315px;
  width:33px;
  height:15px;
  display:flex;
}
#u710 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u710_img.selected {
}
#u710.selected {
}
#u710_img.disabled {
}
#u710.disabled {
}
#u710_img.selectedDisabled {
}
#u710.selectedDisabled {
}
#u710_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u710_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u711 label {
  left:0px;
  width:100%;
}
#u711_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:335px;
  width:33px;
  height:15px;
  display:flex;
}
#u711 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u711_img.selected {
}
#u711.selected {
}
#u711_img.disabled {
}
#u711.disabled {
}
#u711_img.selectedDisabled {
}
#u711.selectedDisabled {
}
#u711_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u711_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u712 label {
  left:0px;
  width:100%;
}
#u712_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:356px;
  width:33px;
  height:15px;
  display:flex;
}
#u712 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u712_img.selected {
}
#u712.selected {
}
#u712_img.disabled {
}
#u712.disabled {
}
#u712_img.selectedDisabled {
}
#u712.selectedDisabled {
}
#u712_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u712_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u713 label {
  left:0px;
  width:100%;
}
#u713_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:376px;
  width:33px;
  height:15px;
  display:flex;
}
#u713 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u713_img.selected {
}
#u713.selected {
}
#u713_img.disabled {
}
#u713.disabled {
}
#u713_img.selectedDisabled {
}
#u713.selectedDisabled {
}
#u713_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u713_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u714 label {
  left:0px;
  width:100%;
}
#u714_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:415px;
  width:33px;
  height:15px;
  display:flex;
}
#u714 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u714_img.selected {
}
#u714.selected {
}
#u714_img.disabled {
}
#u714.disabled {
}
#u714_img.selectedDisabled {
}
#u714.selectedDisabled {
}
#u714_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u714_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u715 label {
  left:0px;
  width:100%;
}
#u715_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:435px;
  width:33px;
  height:15px;
  display:flex;
}
#u715 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u715_img.selected {
}
#u715.selected {
}
#u715_img.disabled {
}
#u715.disabled {
}
#u715_img.selectedDisabled {
}
#u715.selectedDisabled {
}
#u715_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u715_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u716 label {
  left:0px;
  width:100%;
}
#u716_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:456px;
  width:33px;
  height:15px;
  display:flex;
}
#u716 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u716_img.selected {
}
#u716.selected {
}
#u716_img.disabled {
}
#u716.disabled {
}
#u716_img.selectedDisabled {
}
#u716.selectedDisabled {
}
#u716_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u716_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u717 label {
  left:0px;
  width:100%;
}
#u717_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:476px;
  width:33px;
  height:15px;
  display:flex;
}
#u717 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u717_img.selected {
}
#u717.selected {
}
#u717_img.disabled {
}
#u717.disabled {
}
#u717_img.selectedDisabled {
}
#u717.selectedDisabled {
}
#u717_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u717_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u718_input {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u718_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u718_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:267px;
  width:424px;
  height:25px;
  display:flex;
}
#u718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u718_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u718.disabled {
}
#u719_input {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u719_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:366px;
  width:424px;
  height:25px;
  display:flex;
}
#u719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u719_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u719.disabled {
}
#u720_input {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u720_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u720_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u720 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:466px;
  width:424px;
  height:25px;
  display:flex;
}
#u720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u720_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u720.disabled {
}
#u721_input {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u721_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:584px;
  width:424px;
  height:25px;
  display:flex;
}
#u721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u721_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u721.disabled {
}
#u722 label {
  left:0px;
  width:100%;
}
#u722_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u722 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:521px;
  width:33px;
  height:15px;
  display:flex;
}
#u722 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u722_img.selected {
}
#u722.selected {
}
#u722_img.disabled {
}
#u722.disabled {
}
#u722_img.selectedDisabled {
}
#u722.selectedDisabled {
}
#u722_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u722_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u723 label {
  left:0px;
  width:100%;
}
#u723_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u723 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:541px;
  width:33px;
  height:15px;
  display:flex;
}
#u723 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u723_img.selected {
}
#u723.selected {
}
#u723_img.disabled {
}
#u723.disabled {
}
#u723_img.selectedDisabled {
}
#u723.selectedDisabled {
}
#u723_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u723_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u724 label {
  left:0px;
  width:100%;
}
#u724_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u724 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:562px;
  width:33px;
  height:15px;
  display:flex;
}
#u724 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u724_img.selected {
}
#u724.selected {
}
#u724_img.disabled {
}
#u724.disabled {
}
#u724_img.selectedDisabled {
}
#u724.selectedDisabled {
}
#u724_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u724_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u725 label {
  left:0px;
  width:100%;
}
#u725_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u725 {
  border-width:0px;
  position:absolute;
  left:735px;
  top:582px;
  width:33px;
  height:15px;
  display:flex;
}
#u725 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u725_img.selected {
}
#u725.selected {
}
#u725_img.disabled {
}
#u725.disabled {
}
#u725_img.selectedDisabled {
}
#u725.selectedDisabled {
}
#u725_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u725_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#E82D8E;
}
#u726 {
  border-width:0px;
  position:absolute;
  left:926px;
  top:633px;
  width:22px;
  height:37px;
  display:flex;
  font-size:32px;
  color:#E82D8E;
}
#u726 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#E82D8E;
}
#u727 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:633px;
  width:19px;
  height:37px;
  display:flex;
  font-size:32px;
  color:#E82D8E;
}
#u727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u727_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u728_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:32px;
  color:#E82D8E;
}
#u728 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:633px;
  width:19px;
  height:37px;
  display:flex;
  font-size:32px;
  color:#E82D8E;
}
#u728 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u728_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
