body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:696px;
}
#u555 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:696px;
  display:flex;
}
#u555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u556 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:607px;
  width:67px;
  height:67px;
  display:flex;
}
#u556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u557 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:607px;
  width:67px;
  height:67px;
  display:flex;
}
#u557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:67px;
}
#u558 {
  border-width:0px;
  position:absolute;
  left:951px;
  top:607px;
  width:67px;
  height:67px;
  display:flex;
}
#u558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u559 label {
  left:0px;
  width:100%;
}
#u559_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u559 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:135px;
  width:33px;
  height:15px;
  display:flex;
}
#u559 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u559_img.selected {
}
#u559.selected {
}
#u559_img.disabled {
}
#u559.disabled {
}
#u559_img.selectedDisabled {
}
#u559.selectedDisabled {
}
#u559_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u559_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u560 label {
  left:0px;
  width:100%;
}
#u560_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u560 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:155px;
  width:33px;
  height:15px;
  display:flex;
}
#u560 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u560_img.selected {
}
#u560.selected {
}
#u560_img.disabled {
}
#u560.disabled {
}
#u560_img.selectedDisabled {
}
#u560.selectedDisabled {
}
#u560_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u560_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u561 label {
  left:0px;
  width:100%;
}
#u561_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:176px;
  width:33px;
  height:15px;
  display:flex;
}
#u561 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u561_img.selected {
}
#u561.selected {
}
#u561_img.disabled {
}
#u561.disabled {
}
#u561_img.selectedDisabled {
}
#u561.selectedDisabled {
}
#u561_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u561_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u562 label {
  left:0px;
  width:100%;
}
#u562_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:196px;
  width:33px;
  height:15px;
  display:flex;
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u562_img.selected {
}
#u562.selected {
}
#u562_img.disabled {
}
#u562.disabled {
}
#u562_img.selectedDisabled {
}
#u562.selectedDisabled {
}
#u562_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u562_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u563_input {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u563_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:191px;
  width:531px;
  height:25px;
  display:flex;
}
#u563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u563_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563.disabled {
}
#u564 label {
  left:0px;
  width:100%;
}
#u564_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:284px;
  width:33px;
  height:15px;
  display:flex;
}
#u564 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u564_img.selected {
}
#u564.selected {
}
#u564_img.disabled {
}
#u564.disabled {
}
#u564_img.selectedDisabled {
}
#u564.selectedDisabled {
}
#u564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u564_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u565 label {
  left:0px;
  width:100%;
}
#u565_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:304px;
  width:33px;
  height:15px;
  display:flex;
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u565_img.selected {
}
#u565.selected {
}
#u565_img.disabled {
}
#u565.disabled {
}
#u565_img.selectedDisabled {
}
#u565.selectedDisabled {
}
#u565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u565_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u566 label {
  left:0px;
  width:100%;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:325px;
  width:33px;
  height:15px;
  display:flex;
}
#u566 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u566_img.selected {
}
#u566.selected {
}
#u566_img.disabled {
}
#u566.disabled {
}
#u566_img.selectedDisabled {
}
#u566.selectedDisabled {
}
#u566_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u566_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u567 label {
  left:0px;
  width:100%;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:345px;
  width:33px;
  height:15px;
  display:flex;
}
#u567 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u567_img.selected {
}
#u567.selected {
}
#u567_img.disabled {
}
#u567.disabled {
}
#u567_img.selectedDisabled {
}
#u567.selectedDisabled {
}
#u567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u567_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u568 label {
  left:0px;
  width:100%;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:420px;
  width:33px;
  height:15px;
  display:flex;
}
#u568 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u568_img.selected {
}
#u568.selected {
}
#u568_img.disabled {
}
#u568.disabled {
}
#u568_img.selectedDisabled {
}
#u568.selectedDisabled {
}
#u568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u568_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u569 label {
  left:0px;
  width:100%;
}
#u569_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:440px;
  width:33px;
  height:15px;
  display:flex;
}
#u569 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u569_img.selected {
}
#u569.selected {
}
#u569_img.disabled {
}
#u569.disabled {
}
#u569_img.selectedDisabled {
}
#u569.selectedDisabled {
}
#u569_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u569_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u570 label {
  left:0px;
  width:100%;
}
#u570_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:461px;
  width:33px;
  height:15px;
  display:flex;
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u570_img.selected {
}
#u570.selected {
}
#u570_img.disabled {
}
#u570.disabled {
}
#u570_img.selectedDisabled {
}
#u570.selectedDisabled {
}
#u570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u570_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u571 label {
  left:0px;
  width:100%;
}
#u571_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:958px;
  top:481px;
  width:33px;
  height:15px;
  display:flex;
}
#u571 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u571_img.selected {
}
#u571.selected {
}
#u571_img.disabled {
}
#u571.disabled {
}
#u571_img.selectedDisabled {
}
#u571.selectedDisabled {
}
#u571_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u571_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u572 label {
  left:0px;
  width:100%;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:549px;
  width:33px;
  height:15px;
  display:flex;
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u572_img.selected {
}
#u572.selected {
}
#u572_img.disabled {
}
#u572.disabled {
}
#u572_img.selectedDisabled {
}
#u572.selectedDisabled {
}
#u572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u572_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u573 label {
  left:0px;
  width:100%;
}
#u573_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:569px;
  width:33px;
  height:15px;
  display:flex;
}
#u573 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u573_img.selected {
}
#u573.selected {
}
#u573_img.disabled {
}
#u573.disabled {
}
#u573_img.selectedDisabled {
}
#u573.selectedDisabled {
}
#u573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u573_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u574 label {
  left:0px;
  width:100%;
}
#u574_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:590px;
  width:33px;
  height:15px;
  display:flex;
}
#u574 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u574_img.selected {
}
#u574.selected {
}
#u574_img.disabled {
}
#u574.disabled {
}
#u574_img.selectedDisabled {
}
#u574.selectedDisabled {
}
#u574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u574_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u575 label {
  left:0px;
  width:100%;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:21px;
  top:2px;
  width:12px;
  height:12px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:610px;
  width:33px;
  height:15px;
  display:flex;
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u575_img.selected {
}
#u575.selected {
}
#u575_img.disabled {
}
#u575.disabled {
}
#u575_img.selectedDisabled {
}
#u575.selectedDisabled {
}
#u575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  word-wrap:break-word;
  text-transform:none;
}
#u575_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u576_input {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u576_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u576_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:364px;
  width:531px;
  height:25px;
  display:flex;
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u576_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u576.disabled {
}
#u577_input {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u577_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:471px;
  width:531px;
  height:25px;
  display:flex;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u577_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u577.disabled {
}
#u578_input {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u578_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:607px;
  width:531px;
  height:25px;
  display:flex;
}
#u578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u578_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:531px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u578.disabled {
}
